<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="./css/navbar.css">
</head>
<body>
	
	<header>
		<% if (locals.user) { %>
		<nav class="navbar navbar-dark" style="background-color: #8d8d8d;">
			<div class="container-fluid">
				<a class="navbar-brand p-2" href="/" style="color: black; border-radius: 8px ; border: 2px solid #010101"><h5> Dashboard </h5></a>
				<a class="navbar-brand p-2" href="/" style="color: black; border-radius: 8px ; "><h5> Hi <%=locals.user.name%>, Welcome to Placement Cell!</h5></a>
				<form class="d-flex px-4">
					<a class="navbar-brand p-2" href="/company/home" style="color: black; border-radius: 8px; border: 2px solid #010101;"><h5> Company List </h5></a>
					<a class="navbar-brand p-2" href="/users/download-csv" style="color: black; border-radius: 8px ; border: 2px solid #010101"><h5> Download Report </h5></a>
					<a class="navbar-brand p-2" href="/users/signout" style=" color: black; border-radius: 8px ; border: 2px solid #010101"><h5> Sign out </h5></a>
				</form>
			</div>
		</nav>
		<% } %>
	</header>

</body>
</html>


