.navbar-brand::after {
    /* content: '';
    display: block;
    width: 0px;
    height: 1px;
    background: #10100f;
    transition: 0.5s */
}
.navbar-brand:hover {
    background-color: #f4eeee;  /* Change the background color as needed */
}
.navbar-brand:hover::after {
    /* width: 100% */
}
